<?xml version="1.0"?>
<!--
  This is examle web.config for NFireLogger lib. 
  Only relevant parts for NFireLogger have some comment.
  -->

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    
    <!-- NFireLogger settings: -->    
    <add key="NFireLogger.Silent" value="true" />
    <add key="NFireLogger.Password" value="" />

    <!-- log4net debug option (for dev. only) -->
    <add key="log4net.Internal.Debug" value="true"/>
    
  </appSettings>

  <log4net>
    
    <!-- NFireLogger Appender -->
    <appender name="FireLogger" type="NFireLogger.Log4net.FireLoggerAppender, NFireLogger.Log4net">
      <!-- Customizabel layout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="FireLogger" />
    </root>
  </log4net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!-- If you want to see trace info -->
    <trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    
    <!-- NFireLogger HTTP modul resistration (for IIS6 and IIS7 in std. mode) -->
    <httpModules>
      <add name="FireLoggerHttpModule" type="NFireLogger.FireLoggerHttpModule"/>
    </httpModules>
    
  </system.web>

  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <add name="WebPageTraceListener"
             type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <!-- NFireLogger HTTP modul resistration (for IIS7 in integrated mode) -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="FireLoggerHttpModule" type="NFireLogger.FireLoggerHttpModule"/>
    </modules>
    
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
