
.test {
    text-align: right;
}

#setup .badge 
{
    position: relative;
    top: -1px;
    margin-right: 10px;
}

.chapter {
    margin-top: 40px;
}

#screen {
    text-align: right;
}

#nuget {
    margin-top: 45px;
    
}

#nuget .well, .nuget {
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    margin-bottom: 10px;
}

#nuget .link {
    text-align: right;
}

#footer {
    margin-top: 50px;
    border-top: solid #aaa 1px;
    padding: 20px 0 20px 0;
    color: #666;
    font-size: 90%;
    text-align: right;
}

#footer a {
    color: #666;
}